body {

    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    background: #242424;

}

#root {

    max-width: 500px;
    margin: 25px auto;
    padding: 25px 50px;
    background: white;
    border-radius: 4px;
}

button {
    cursor: pointer;
}